# Python
__pycache__/
*.py[cod]
*~
.DS_Store

# Data
python_train/data/

# Compiled C binaries
#neural_net_4layer/neural_net
#neural_net/neural_net

# (Optional) If you don't want to track generated txt files, uncomment these:
# neural_net_4layer/*.txt
# neural_net_4layer/test_samples/*.txt

# HW Simulation Artifacts
neural_net_4layer/hardware/frontend/sim/xcelium.d/*
**/xcelium.d/*
**/INCA_libs/*
**/xrun.log
**/xrun.history
**/waves.shm/*
**/*.key
**/work/
**/cov_work/

# Ignore large timing/physical design files
*.sdf
*.sdf.gz
*.dat
*.enc

# Ignore tool logs and reports
*.log
*.log*
*.logv*
*.cmd
*.cmd*
#*.rpt
timingReports/
clock_report/